// Announcement
// -----------------------------------------------------------------------------------------

.site-announcement-container {
    height: var(--style-announcement-height);
    background-color: var(--style-announcement-bg-color);

    &.has-long-text {

        .site-announcement {

            .site-announcement-text {
                display: -webkit-box;
                -webkit-line-clamp: 2;
                -webkit-box-orient: vertical;
                overflow: hidden;
                text-overflow: ellipsis;
            }
        }
    }

    .site-announcement {
        display: flex;
        justify-content: var(--style-announcement-align);
        align-items: center;
        padding-top: spacer(3);
        padding-bottom: spacer(3);
        height: 100%;
        @include media-breakpoint-down(lg) {
            justify-content: center;
        }

        .site-announcement-text {
            color: var(--style-announcement-text-color);
        }
    }
}